/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes */

// Colours
$primary: #381d2a;
$secondary: #e9e3b4;

$first: #c9b1bd;
$second: #7f9172;
$third: #d5dfe5;
$fourth: #b49594;
$fifth: #567568;
$sixth: #3e6990;
$seventh: #f39b6d;

// Breakpoints
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

/* Import the rest of Bulma */
@import '~bulma';
